/*
Copyright Betsey McCarthy and Colin Hiriak
*/
/* 
    Created on : Nov 28, 2015, 10:14:22 PM
    Author     : Betsey
*/

body {
    margin-left: 25%;
}
img{
    width:70%;
}
h1{
    margin-left:23%;
    font-size: 48px;
}